
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Heebo&family=Lemon&family=Roboto+Slab:wght@400;700&family=Ubuntu:ital@0;1&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
}
.rounded-button {
  padding: 10px 24px 10px 24px;
  border-radius: 25px;
  border: white;
  background-color: #499cff;
  color: white;
  transition: transform 1s;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
}
.rounded-button:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.main-heading{
    font-family: 'Lemon', serif;
    font-size: 30px;
    line-height:normal;
}
h1{
  font-family: 'Abril Fatface', serif;

}
.hero-image{
  border-radius: 50px;

}

.cards:hover{
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 2s transform;
}
.view-section{
  position: relative;
  text-align: center;
  color: white;
}

.view-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cards{
margin: 30px;
}